USE [master]
GO
/****** Object:  Database [dw_retail_supermercados_ventas]    Script Date: 7/09/2025 21:56:55 ******/
CREATE DATABASE [dw_retail_supermercados_ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dw_retail_supermercados_ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dw_retail_supermercados_ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dw_retail_supermercados_ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dw_retail_supermercados_ventas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dw_retail_supermercados_ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dw_retail_supermercados_ventas]
GO
/****** Object:  Table [dbo].[dim_cliente]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [varchar](15) NULL,
	[puntos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_metodo_pago]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_metodo_pago](
	[id_metodo_pago] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[id_producto] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[categoria] [varchar](50) NULL,
	[proveedor] [varchar](50) NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[id_tiempo] [int] NOT NULL,
	[fecha] [date] NULL,
	[dia] [int] NULL,
	[mes] [int] NULL,
	[nombre_mes] [varchar](15) NULL,
	[trimestre] [int] NULL,
	[anio] [int] NULL,
	[dia_semana] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tienda]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tienda](
	[id_tienda] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[zona] [varchar](50) NULL,
	[gerente] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechos_ventas]    Script Date: 7/09/2025 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechos_ventas](
	[id_venta] [int] NULL,
	[id_tiempo] [int] NULL,
	[id_producto] [int] NULL,
	[id_cliente] [int] NULL,
	[id_tienda] [int] NULL,
	[id_metodo_pago] [int] NULL,
	[cantidad] [int] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[descuento] [decimal](10, 2) NULL,
	[impuestos] [decimal](10, 2) NULL,
	[pago_total] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD  CONSTRAINT [FK_hechos_ventas_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[dim_cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[hechos_ventas] CHECK CONSTRAINT [FK_hechos_ventas_cliente]
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD  CONSTRAINT [FK_hechos_ventas_metodo_pago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[dim_metodo_pago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[hechos_ventas] CHECK CONSTRAINT [FK_hechos_ventas_metodo_pago]
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD  CONSTRAINT [FK_hechos_ventas_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[dim_producto] ([id_producto])
GO
ALTER TABLE [dbo].[hechos_ventas] CHECK CONSTRAINT [FK_hechos_ventas_producto]
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD  CONSTRAINT [FK_hechos_ventas_tiempo] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[dim_tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[hechos_ventas] CHECK CONSTRAINT [FK_hechos_ventas_tiempo]
GO
ALTER TABLE [dbo].[hechos_ventas]  WITH CHECK ADD  CONSTRAINT [FK_hechos_ventas_tienda] FOREIGN KEY([id_tienda])
REFERENCES [dbo].[dim_tienda] ([id_tienda])
GO
ALTER TABLE [dbo].[hechos_ventas] CHECK CONSTRAINT [FK_hechos_ventas_tienda]
GO
USE [master]
GO
